<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/1684816851658.jpg" alt="profile picture" width="240" height="240" class="rounded-circle">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto inventore in velit numquam ratione quis, voluptate consequatur quia deleniti, asperiores, vel quo aspernatur odio commodi deserunt harum ipsum quibusdam alias odit nisi quam ullam! Quidem incidunt dolorum atque illo reiciendis suscipit iure vel inventore quas, magnam nostrum enim quod exercitationem?</p>
            </div>
        </div>
        <!-- Featured project -->
        <div class="col-lg shadow m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>
        </div>
    </div>
</div>